.el-header {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333333;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  .login-btn {
    display: flex;
    align-items: center;
    cursor: not-allowed;
  }
  .logo {
    width: 84px;
  }
  .download-and-hamburger {
    display: flex;
    align-items: center;
  }
  .download-wrap {
    margin-right: 50px;
  }
  .hamburger {
    cursor: pointer;
  }
}
